.admin-container
  %h2.admin-title
    = fa_icon "file-image-o", text: 'Galleries'
    = link_to 'New Gallery', new_admin_gallery_path, class: "admin-button__new"
  %br
  %table.admin-table
    %thead
      %tr
        %th
        %th
        %th Title
        %th.admin-table-center Edit
        %th.admin-table-center Delete
    = render @galleries
