.admin-container
  %h2.admin-title
    = fa_icon "tachometer", text: 'Dashboard'
  %p
    Hello
    = succeed '!' do
      %strong= current_user.name.capitalize || current_user.email
  = render partial: "dashboard_cards"
