%tr
  %td= tag.topic
  %td.admin-table-center= link_to (fa_icon "pencil"), edit_admin_tag_path(tag), class: 'admin-table-icon'
  %td.admin-table-center= link_to (fa_icon "trash-o"), [:admin, tag], :method => :delete, :data => { :confirm => 'Are you sure?'}, class: 'admin-table-icon'
