.admin-container
  %h2.admin-title
    = fa_icon "tags", text: 'Tags'
    = link_to 'Add Tag', new_admin_tag_path , class: "admin-button__new"
  %br
  %table.admin-table
    %thead
      %tr
        %th Title
        %th.admin-table-center Edit
        %th.admin-table-center Delete
    %tbody
      = render @tags
