%h1 Listing pages

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Tags
      %th
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.title
        %td= truncate_html(raw(page.body), length: 150, omission: '...(continued)')
        %td= raw tag_links(page.all_tags)
%br
