#clearance {
  background-image: image-url('admin-login-bg.jpeg');
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  label {
    display: none;
  }
  .sign-in {
    background-color:rgba(72,72,72,0.4);
  	padding:35px 35px 50px 35px;
  	width: 450px;
    height: 220px;
  	float: left;
  	left: 50%;
    top: 50%;
    margin-top: -160px;
  	position: absolute;
  	margin-left: -260px;
    border-radius: 7px;
  }
  .sign-in-input,
  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email] {
  	color:#3c3c3c;
  	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
  	font-size: 18px;
  	border-radius: 0;
  	line-height: 22px;
  	background-color: #fbfbfb;
  	padding: 13px 13px 13px 30px;
  	margin-bottom: 10px;
  	width:100%;
  	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    &:focus {
      background: #fff;
    	box-shadow: 0;
    	border: 3px solid #3498db;
    	color: #3498db;
    	outline: none;
    }
  }
  .sign-in-button{
  	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  	width: 100%;
  	border: #fbfbfb solid 4px;
  	cursor:pointer;
  	background-color: #3498db;
  	color:white;
  	font-size:24px;
  	padding-top:20px;
  	padding-bottom:22px;
  	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    height: 74px;
    &:hover{
    	background-color: $color-highlight;
    }
  }
  .password-field {
    margin-top: .5rem;
  }
  .submit-field {
    margin-top: 1rem;
  }
  .other-links {
    text-align: center;
    margin-top: 1rem;
  }
  .forgot-password {
    color: #fff;
    text-decoration: none;
    transition: ease 0.3s all;
    &:hover {
      color: $color-highlight;
    }
  }
  .reset-pw {
    @extend .sign-in;
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      padding-bottom: 1rem;
    }
    p {
      padding-bottom: 1rem;
    }
  }
  .reset-pw-button {
    @extend .sign-in-button;
  }
  .reset-input {
    @extend .sign-in-input;
  }
}
