//SIDEBAR

.admin-content {
  background: #eeeded;
  height: 100vh;
}

.sidebar {
  font-family: $font-general;
  font-size: 1.1rem;
  width: 17rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: .125rem solid #aaa;
  background: #fff;
  a {
    display: block;
    text-decoration: none;
    padding: 1rem 1rem 1rem 2rem;
    transition: ease 250ms;
    &:hover {
      background-color: $color-highlight;
    }
  }
  .fa {
    font-size: 1.5rem;
    padding-right: 1rem;
    width: 2.5rem;
  }
}

.sidebar-user {
  background: $color-blue;
  box-shadow: 0px 7px 10px rgba($color-black, 0.5);
  outline: .125rem solid $color-blue;
  a {
    color: #fff;
  }
}

.sidebar-user-image {
  text-align: center;
  padding: 1rem;
}

.user-avatar {
  width: 5rem;
  border: solid 3px #fff;
  border-radius: 100%;
  padding: 3px;
  margin: 0 auto;
  text-align: center;
}

.sidebar-nav {
  margin-top: 7px;
  a {
    color: #000;
  }
}

.admin-content {
  margin-left: 17rem;
  padding: 1rem;
}

//MAIN DASHBOARD

.admin-container {
  padding: 1.5rem 2rem;
  font-family: $font-general;
}

.admin-title {
  font-family: $font-general;
  font-size: 3rem;
  padding: 0 0 3rem 0;
  color: darken($color-grey, 20%);
}

//MAIN DASHBOARD CARDS

$transition-time: 250ms;
$transition-method: ease-in-out;

html {
    box-sizing: border-box;
}
// html

*,
*:before,
*:after {
    box-sizing: inherit;
    line-height: inherit;
}
// *, *:before, *:after

.main-dashboard-row {
  max-width: 690px;
  margin: 3rem 0;
  height: 140px;
}
.main-dashboard-card {
    color: $color-grey;
    display: block;
    font-size: 14px;
    height: 200px;
    line-height: 1.5;
    position: relative;
    width: 200px;

    &:hover {

        .main-dashboard-card__icon {
            font-size: 60px;
        }
        // .main-dashboard-card__icon

    }
    // &:hover

    &__front,
    &__back {
        border-radius: 3px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    // &__front, &__back

    &__front {
        -webkit-transition: all $transition-time $transition-method;
           -moz-transition: all $transition-time $transition-method;
                transition: all $transition-time $transition-method;
        background-color: $color-white;
        // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        z-index: 10;
    }
    // &__front

    &__back {
        // box-shadow: 0 0 90px 10px rgba($color-black, 0.1);
    }
    // &__back {

    &__icon {
        -webkit-transition: all $transition-time $transition-method;
           -moz-transition: all $transition-time $transition-method;
                transition: all $transition-time $transition-method;
        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
             -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-size: 30px;
        left: 50%;
        position: absolute;
        top: 50%;
    }
    // &__icon

    &__data {
        bottom: 40px;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    // &__data

    &__action {
        bottom: 0;
        color: $color-white;
        letter-spacing: 1px;
        line-height: 40px;
        position: absolute;
        text-transform: uppercase;
    }
    // &_action

}
// .main-dashboard-card

.main-dashboard-card--animate-top-left {

    &:hover {

        .main-dashboard-card__front {
            left: -40px;
            top: -40px;
        }
        // .main-dashboard-card__front

    }
    // &:hover

    .main-dashboard-card__action {
        right: 40px;
    }
    // .main-dashboard-card__action

}
// .main-dashboard-card--animate-top-left

.main-dashboard-card--animate-up {

    &:hover {

        .main-dashboard-card__front {
            top: -40px;
        }
        // .main-dashboard-card__front

    }
    // &:hover

    .main-dashboard-card__back {
        left: 10px;
        right: 10px;
        width: auto;
    }
    // .main-dashboard-card__back

    .main-dashboard-card__action {
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
        left: 50%;
    }
    // .main-dashboard-card__action

}
// .main-dashboard-card--animate-up

.main-dashboard-card--animate-top-right {

    &:hover {

        .main-dashboard-card__front {
            left: 40px;
            top: -40px;
        }
        // .main-dashboard-card__front

    }
    // &:hover

    .main-dashboard-card__action {
        left: 40px;
    }
    // .main-dashboard-card__action

}
// .main-dashboard-card--animate-top-right


.main-dashboard-card--blue-centered {

    .main-dashboard-card__back {
         background-color: $color-highlight;
    }
    // .main-dashboard-card__back

    .main-dashboard-card__icon {
        color: $color-blue;
    }
    // .main-dashboard-card__icon

}
// .main-dashboard-card--blue-centered
