.admin-container
  %h3.admin-title__small
    = link_to (fa_icon "book", text: 'Blog Post'), admin_blog_posts_path
    &nbsp;>&nbsp;Edit

  = render 'form'

  = link_to (fa_icon "eye", text:'View'), @blog_post, class: 'admin-icon'
